In [14]:
import pandas as pd

raw_data = {'lat':[36.806667, 36.766667, 36.816667],
            'lon':[4.350000, 4.300000, 4.200000],
            'mineral':['Silica', 'Ferro', 'Cobre'],
            'size':[10, 20, 30]}
df = pd.DataFrame(raw_data, columns = ['lat', 'lon', 'mineral','size'])
df.to_csv('data_frame_model.csv', index = False, sep='\t')
df

         lat   lon mineral  size
0  36.806667  4.35  Silica    10
1  36.766667  4.30   Ferro    20
2  36.816667  4.20   Cobre    30